.slides {
	OVERFLOW: hidden; WIDTH: 902px; POSITION: relative; HEIGHT: 262px
}
.slide-pic {
	OVERFLOW: hidden; WIDTH: 902px
}
.slide-pic IMG {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 900px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 260px
}
.slide-pic LI {
	DISPLAY: none
}
.slide-pic LI.cur {
	DISPLAY: block
}
.slide-li {
	LEFT: 0px; BOTTOM: 0px; POSITION: absolute
}
.slide-li LI {
	FLOAT: left; WIDTH: 215px; LINE-HEIGHT: 30px; MARGIN-RIGHT: 1px; HEIGHT: 30px; TEXT-ALIGN: center
}
.slide-li A {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 174px; COLOR: #fff; HEIGHT: 30px
}
.slide-li .cur A {
	COLOR: #333; TEXT-DECORATION: none
}
.slide-li A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
.op LI {
	BACKGROUND: #666; FILTER: alpha(opacity=60); opacity: 0.6
}
.op LI.cur {
	BACKGROUND: #fff
}
.slide-txt SPAN {
	DISPLAY: none
}
